$button-color: #353537;
$button-border: #454545; 

$theme-colors:(
	'primary': (
		'base': rgba(0, 0, 0, 0.85)
		// 'light': rgba(0, 0, 0, 0.55),
		// 'dark': 
	),
	'secundary': (
		'base': #69BE28,
		'light': lighten(#69BE28, 50%), // #7DCA43
		'dark': darken(#69BE28, 10%)
	),
	'background': (
		'base': #CECECE,
		'light': #F5F5F6,
		'dark': #4D4D4D
	)
)
