@import "themes/theme";

// Override css rules 
body.ic-Login-Body {
	background-color: theme-color('background');
}

.ic-Form-control--login .ic-Label,
.ic-Login__actions .ic-Login__actions-timeout label,
.ic-Login__link,
.ic-Login-footer .ic-Login-footer__links a,
a {
	color: theme-color('primary')!important; // :'(
}

.ic-Login__actions .ic-Login__actions-timeout input[type="checkbox"] {
	&:focus {
		outline-color: theme-color('secundary');
	}
}

.ic-Login__actions .Button--login {
	color: $button-color;
	border: 2px solid $button-border;
	padding: 5px 15px;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: white;
		background-color: theme-color('background', 'dark');
	}

	&:focus {
		&::before {
			box-shadow: 0px 0px 0px 2px theme-color('secundary');
			border: none;
		}
	}
}

.ic-Login-header__logo {
	flex: 0 0 100%;

	img {
		vertical-align: top;
	}
}

select.ic-Input:focus, 
textarea.ic-Input:focus, 
input[type="text"].ic-Input:focus, 
input[type="password"].ic-Input:focus, 
input[type="datetime"].ic-Input:focus, 
input[type="datetime-local"].ic-Input:focus, 
input[type="date"].ic-Input:focus, 
input[type="month"].ic-Input:focus, 
input[type="time"].ic-Input:focus, 
input[type="week"].ic-Input:focus, 
input[type="number"].ic-Input:focus, 
input[type="email"].ic-Input:focus, 
input[type="url"].ic-Input:focus, 
input[type="search"].ic-Input:focus, 
input[type="tel"].ic-Input:focus, 
input[type="color"].ic-Input:focus, 
.uneditable-input.ic-Input:focus {
	border-color: $button-border;
	outline-color: $button-border;
}

:focus {
	outline-color: theme-color('secundary');
}
